docs/n8n/hubex_device_offline_slack.json
{
  "name": "HUBEX — Device Offline to Slack",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "hubex-device-webhook",
      "parameters": {
        "path": "hubex-device",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Only Device Offline",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "device.offline",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 220],
      "parameters": {
        "operation": "message",
        "resource": "message",
        "channel": {
          "__rl": true,
          "value": "={{ $vars.HUBEX_SLACK_CHANNEL || '#alerts' }}",
          "mode": "name"
        },
        "text": "⚠ *HUBEX Device Offline*\n\n*Device:* `{{ $json.device_uid }}`\n*Time:* {{ $json.timestamp }}\n*Event:* {{ $json.event_type }}",
        "otherOptions": {
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "credentials": {
        "slackApi": {"id": "slack-credential-id", "name": "Slack Account"}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": {"responseCode": 200}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Only Device Offline", "type": "main", "index": 0}]]
    },
    "Only Device Offline": {
      "main": [
        [{"node": "Slack Alert", "type": "main", "index": 0}],
        []
      ]
    },
    "Slack Alert": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "hubex"}],
  "meta": {
    "templateId": "hubex-device-offline-slack",
    "instanceId": ""
  }
}
