docs/n8n/hubex_telemetry_to_sheets.json
{
  "name": "HUBEX — Telemetry to Google Sheets",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "hubex-telemetry-webhook",
      "parameters": {
        "path": "hubex-telemetry",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Only Telemetry Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "telemetry.received",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Flatten Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 220],
      "parameters": {
        "jsCode": "// Flatten HUBEX telemetry payload into a flat row object\nconst item = $input.first().json;\nconst payload = item.payload || {};\n\nconst row = {\n  timestamp: item.timestamp || new Date().toISOString(),\n  device_uid: item.device_uid || item.data?.device_uid || '',\n};\n\n// Add all payload fields as columns\nfor (const [key, value] of Object.entries(payload)) {\n  row[key] = value;\n}\n\nreturn [{ json: row }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Append to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 220],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.HUBEX_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Telemetry",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "google-sheets-credential-id", "name": "Google Sheets Account"}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": {"responseCode": 200}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Only Telemetry Events", "type": "main", "index": 0}]]
    },
    "Only Telemetry Events": {
      "main": [
        [{"node": "Flatten Payload", "type": "main", "index": 0}],
        []
      ]
    },
    "Flatten Payload": {
      "main": [[{"node": "Append to Sheets", "type": "main", "index": 0}]]
    },
    "Append to Sheets": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "hubex"}],
  "meta": {
    "templateId": "hubex-telemetry-to-sheets",
    "instanceId": ""
  }
}
